.wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #eff2ff;

  .input_form {
    position: absolute;
    background-color: #f7fbff;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 2px 2px 5px rgba($color: #000, $alpha: 0.2);

    .title_form {
      text-align: left;
      font-size: 24px;
      font-weight: bold;
      .sub__title_form {
        margin: 5px 0;
        font-size: 14px;
        color: #868686;
      }
    }

    .inputs_info {
      margin-top: 20px;

      label,
      input {
        display: block;
      }

      label {
        font-size: 14px;
        font-weight: bold;
        color: #616161;
        margin-bottom: 5px;
      }

      input {
        width: 320px;
        height: 35px;
        border-radius: 10px;
        background-color: #ececff;
        border: 1px solid #d5dcff;
        padding: 5px 10px;
        margin-bottom: 30px;
      }

      input:last-child {
        margin-bottom: 0;
      }

      .show_pass {
        cursor: pointer;
        position: absolute;
        right: 25px;
        top: 203px;
        font-size: 16px;
        font-weight: lighter;
        color: #7266fd;
      }
    }

    .forgot_pass_block {
      color: #7266fd;
      text-align: right;
      cursor: pointer;
      p {
        margin: 0;
      }
      p:hover {
        color: #616161;
      }
    }

    .sing_btn {
      margin-top: 20px;
      input {
        width: 340px;
        height: 40px;
        padding: 5px 10px;
        border-radius: 10px;
        border: 1px solid #d5dcff;
        font-weight: bold;
        color: #fff;
        background: #7266fd;
        cursor: pointer;
      }
    }

    .diff_method_login {
      p {
        font-size: 14px;
        color: #616161;
      }
    }

    .create_account {
      color: #616161;
      font-size: 14px;
      text-align: center;
      span {
        color: #7266fd;
        cursor: pointer;
      }
    }
  }
}
