.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .content{
        margin-top: 50px;
        img{
            width: 360px;
            height: 360px;
        }

        h2{
            text-align: center;
        }
    }
}