@mixin button {
  background: blue;
  color: #fff;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.wrapper_charts {
  float: right;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;

  .list_project {
    width: 100%;
    table {
      width: 92%;
      margin-top: 30px;
      padding: 0 100px 0 50px;
      border-collapse: collapse;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      overflow: hidden;
      thead {
        box-shadow: 5px 4px 40px rgba(39, 32, 120, 0.1);
        th {
          padding: 20px;
          text-align: start;
        }
      }

      tbody {
        tr {
          td {
            padding: 20px;
            border-bottom: 1px solid black;
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .chart {
    height: 300px;
    padding: 20px;
    box-shadow: 0px 4px 40px rgba(39, 32, 120, 0.1);
    border-radius: 10px;
    margin: 10px;
  }

  .wrapper_add_users_btn {
    padding: 30px;
    position: absolute;
    right: 0;
    top: 60px;
    button {
      @include button;
    }
  }

  .wrapper_users {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 60px;
    width: 85%;
  }

  a {
    text-decoration: none;
    .item_apis {
      position: relative;
      padding: 15px 20px;
      border-radius: 5px;
      border: 2px solid #3d568c;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #21304e;
      width: 180px;
      cursor: pointer;
      h2,
      p {
        margin: 0;
        white-space: nowrap;
      }
      img {
        width: 35px;
        height: 35px;
      }
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
      .connection {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 2px solid green;

        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: green;
        margin-top: -5px;
        display: none;
      }
      .visib {
        display: flex;
      }
    }

    .item_apis:last-child {
      margin-right: 20px;
    }
    transition: all 1s;
  }

  a:hover {
    transform: translateY(-5px);
    scale: 1;
  }

  .title_page {
    font-weight: bold;
    position: absolute;
    font-size: 24px;
    margin-left: 10px;
    color: #3d568c;
  }

  .top_header_part {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 100px 0 20px;

    .add_project_btn {
      button {
        @include button;
      }
    }

    .user {
      font-weight: bold;
      font-size: 24px;
    }
  }
}

.wrapper_component_charts {
  position: relative;
  top: -50px;
  row-gap: 20px;
}

.wrapper_animation_blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px 10px;
  margin-top: 50px;
  row-gap: 30px;

  .item_animation_block {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 2s;
    cursor: pointer;
    .text_block {
      h3,
      p {
        margin: 0;
      }

      p {
        color: #676767;
      }
    }
  }

  .item_animation_block:hover {
    transform: translateY(-5px);
  }
}
