.wrapper_charts{
    position: absolute;
    top: 70px;
    left: 300px;
    width:80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;

    .chart{
        height: 300px;
        padding: 20px;
        box-shadow:  0px 4px 40px rgba(39, 32, 120, 0.1);
        border-radius: 10px;
        margin: 10px;
    }

    .resizable{
        resize: both;
        overflow: auto;
    }
}